.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input label{
  margin-bottom: 0.6em;
  font-weight: bold;
}

.input input{
  padding: 0.7em;
  border: none;
  border-radius: 0.5em;
}

.input input::placeholder{
  color: var(--colorLight)
}