.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -6em;
}

.main h1{
    font-size: 3em;
    color: var(--colorDark);
    margin-bottom: 0.5em;
}

.main p{
    margin-bottom: 2em;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
    
}

.content img{
    width: 500px;
}