.container{
  width: 450px;
  margin: 0 auto;
  padding: 3em;
}

.container h1{
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--colorDark)
}

.container p{
  margin-bottom: 1.5em;
  text-align: center;
}