.projectCard {
  padding: 1rem;
  border: 1px solid #a3a3a3;
  background: #7a7a7a;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10rem;
}

.projectCard h4 {
  background-color: var(--colorDefault);
  color: var(--colorFont);
  padding: 0.4em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.projectCard p {
  color: var(--colorFont);
  margin-bottom:1em;
}

.projectCard p span {
  font-weight: bold;
}

.categoryText {
  display: flex;
  align-items: center;
}

.categoryText span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.categoryText .infra {
  background-color: #ffaebc;
}

.categoryText .desenvolvimento {
  background-color: #a0e7e5;
}

.categoryText .designer {
  background-color: #b4f8c8;
}

.categoryText .planejamento {
  background-color: #fbe7c6;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: var(--colorDefault);
  color: var(--colorFont);
  font-size: 0.8em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_card_actions svg {
  margin-right: 0.5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #222;
  color: #ffbb33;
}