*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root{
  --colorDefault: #0099bb;
  --colorLight: #a7d9e4;
  --colorDark: #005c70;

  --colorFont: #fff;

  --backgroundElements: #bdc4c5;

  --background: #fff;
  --backgroundSuccess: #87e66a;
  --backgroundError: #eb7777;

  --backgroundImage: url('./assets/img/logo.png');
}

html, body, #root{
  background-color: var(--background);
  height: 100%;
}