.container{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.min-height{
    min-height: 100%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

